<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-cyan.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }
        .mdc-drawer__header {
            padding: 10px;
        }
        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 15%;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Insurance System</h3>
        <h6 class="mdc-drawer__subtitle">create by Tomas Popik</h6>
        <h8 class="mdc-drawer__subtitle">Java+Spring</h8>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-users" href="/users/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_box</i>
                <span class="mdc-list-item__text">Users</span>
            </a>

        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; margin: 10px; overflow: auto";>
    <h1 style="margin: 10px;">Add Home And Flat Insurance</h1>
    <form action="#" th:action="@{'/insuranceAgreements/home_and_flat_insurance/add/toUser/' + ${insurance.getInsurer()}}" th:object="${insurance}" method="post">
        <div class="mdl-textfield mdl-js-textfield">
            <span>Start Date</span>
            <input class="mdl-textfield__input" type="date" id="startDate" th:field="*{startDate}" /></p>
            <label class="mdl-textfield__label" for="startDate"></label>
            <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span>End Date</span>
            <input class="mdl-textfield__input" type="date" id="endDate" th:field="*{endDate}" /></p>
            <label class="mdl-textfield__label" for="endDate"></label>
            <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="number" step="any" id="indemnity" th:field="*{indemnity}" /></p>
            <label class="mdl-textfield__label" for="indemnity">Indemnity</label>
            <p th:if="${#fields.hasErrors('indemnity')}" th:errors="*{indemnity}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="number" step="any" id="monthlyPayment" th:field="*{monthlyPayment}" /></p>
            <label class="mdl-textfield__label" for="monthlyPayment">Monthly Payment</label>
            <p th:if="${#fields.hasErrors('monthlyPayment')}" th:errors="*{monthlyPayment}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" name="property" id="property">
                <option th:each="property: ${allProperties}" th:value="${property}" th:text="${property.getProperty()}"></option>
            </select>
            <label class="mdl-textfield__label" for="property">Property</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="psc" th:field="*{psc}" /></p>
            <label class="mdl-textfield__label" for="psc">PSC</label>
            <p th:if="${#fields.hasErrors('psc')}" th:errors="*{psc}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="city" th:field="*{city}" /></p>
            <label class="mdl-textfield__label" for="city">City</label>
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="street" th:field="*{street}" /></p>
            <label class="mdl-textfield__label" for="street">Street</label>
            <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="number" id="houseNumber" th:field="*{houseNumber}" /></p>
            <label class="mdl-textfield__label" for="houseNumber">House Number</label>
            <p th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></p><br>

        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="number" step="any" id="propertyValue" th:field="*{propertyValue}" /></p>
            <label class="mdl-textfield__label" for="propertyValue">Property Value</label>
            <p th:if="${#fields.hasErrors('propertyValue')}" th:errors="*{propertyValue}"></p><br>

        </div>
        <div class="mdl-checkbox">
            <input class="mdl-checkbox__input" type="checkbox" id="garageInsurance" th:field="*{garageInsurance}" />
            <label class="mdl-checkbox__label" for="garageInsurance">Garage</label>
        </div>

        <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised" style="width: fit-content;"/>
    </form>
</div>
</body>
</html>
