<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-cyan.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }

        .mdc-list {
            display: flex;
            flex-direction: column;
        }

        .mdc-drawer__header {
            padding: 10px;
        }

        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }

        .mdc-list-item__text {
            padding-left: 10px;
        }

        .mdc-drawer {
            border-right-color: rgba(0, 0, 0, .12);
            border-right-style: solid;
            width: 15%;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Insurance System</h3>
        <h6 class="mdc-drawer__subtitle">create by Tomas Popik</h6>
        <h8 class="mdc-drawer__subtitle">Java+Spring</h8>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/users/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_box</i>
                <span class="mdc-list-item__text">Users</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 85%; overflow: auto">
    <h1 style="margin: 10px;">Home and flat Insurance</h1>
    <ul class="demo-list-item mdl-list">
        <a th:href="@{'/insuranceAgreements/edit/' + ${insurance_agreements.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin: 10px; min-height: 40px">
            <i class="material-icons">edit</i>
        </a>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>ID:&nbsp;</span>
                <span th:text="${insurance_agreements.getID()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Formation date:&nbsp;</span>
                <span th:text="${insurance_agreements.getFormationDate()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Insurer name:&nbsp;</span>
                <span> <a th:href="@{'/users/id/' + ${insurer.getID()}}" th:text="${(insurer.getName())}" ></a></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Start date:&nbsp;</span>
                <span th:text="${insurance_agreements.getStartDate()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>End date:&nbsp;</span>
                <span th:text="${insurance_agreements.getEndDate()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Indemnity:&nbsp;</span>
                <span th:text="${insurance_agreements.getIndemnity()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Monthly payment:&nbsp;</span>
                <span th:text="${insurance_agreements.getMonthlyPayment()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Property:&nbsp;</span>
                <span th:text="${insurance_agreements.getProperty().getProperty()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Property address:&nbsp;</span>
                <span th:text="${insurance_agreements.getPropertyAddress()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Property value:&nbsp;</span>
                <span th:text="${insurance_agreements.getPropertyValue()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Garage Insurance:&nbsp;</span>
                <span th:text="${insurance_agreements.getGarageInsurance()}"></span>
            </span>
        </li>


    </ul>
</div>
</body>
</html>
