<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-cyan.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }

        .mdc-list {
            display: flex;
            flex-direction: column;
        }

        .mdc-drawer__header {
            padding: 10px;
        }

        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }

        .mdc-list-item__text {
            padding-left: 10px;
        }

        .mdc-drawer {
            border-right-color: rgba(0, 0, 0, .12);
            border-right-style: solid;
            width: 15%;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Insurance System</h3>
        <h6 class="mdc-drawer__subtitle">create by Tomas Popik</h6>
        <h8 class="mdc-drawer__subtitle">Java+Spring</h8>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/users/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_box</i>
                <span class="mdc-list-item__text">Users</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 85%; overflow: auto">
    <h1 style="margin: 10px;" th:text="${user.getName()}"></h1>
    <ul class="demo-list-item mdl-list">
        <a th:href="@{'/users/edit/' + ${user.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin: 10px; min-height: 40px">
            <i class="material-icons">edit</i>
        </a>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>ID:&nbsp;</span>
                <span th:text="${user.getID()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Identification number:&nbsp;</span>
                <span th:text="${user.getIdentificationNumber()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Email:&nbsp;</span>
                <span th:text="${user.getEmail()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Permanent address:&nbsp;</span>
                <span th:text="${user.getPermanentAddress()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Correspondence address:&nbsp;</span>
                <span th:text="${user.getAddressForCorrespondence()}"></span>
            </span>
        </li>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin: 10px">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">ID</th>
                <th class="mdl-data-table__cell--non-numeric">Formation Date</th>
                <th class="mdl-data-table__cell--non-numeric">Start Date</th>
                <th class="mdl-data-table__cell--non-numeric">End Date</th>
                <th class="mdl-data-table__cell--non-numeric">Monthly Payment</th>
                <th class="mdl-data-table__cell--non-numeric"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="agreement: ${insurance_agreements}" style="cursor: pointer"
                th:onclick="'javascript:rowClicked(\'' + ${agreement.getID()} + '\' );'">

                <td th:text="${agreement.getID()}" class="mdl-data-table__cell--non-numeric"></td>
                <td th:text="${agreement.getFormationDate()}" class="mdl-data-table__cell--non-numeric"></td>
                <td th:text="${agreement.getStartDate()}" class="mdl-data-table__cell--non-numeric"></td>
                <td th:text="${agreement.getEndDate()}" class="mdl-data-table__cell--non-numeric"></td>
                <td th:text="${agreement.getMonthlyPayment()}" class="mdl-data-table__cell--non-numeric"></td>
                <td><a th:href="@{'/insuranceAgreements/edit/' + ${agreement.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin: 0px; min-height: 40px">
                    <i class="material-icons">edit</i>
                </a>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="demo-list-item mdl-list">

            <a th:href="@{'/insuranceAgreements/accident_insurance/add/toUser/' + ${user.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin-left: 60px; min-height: 40px">
                    <i class="material-icons">note_add</i>
            </a>

            <a th:href="@{'/insuranceAgreements/travel_insurance/add/toUser/' + ${user.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin-left: 93px; min-height: 40px">
                    <i class="material-icons">note_add</i>
                </a>

                    <a th:href="@{'/insuranceAgreements/home_and_flat_insurance/add/toUser/' + ${user.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin-left: 115px; min-height: 40px">
                    <i class="material-icons">note_add</i>
                </a>

                    <a th:href="@{'/insuranceAgreements/household_insurance/add/toUser/' + ${user.getID()}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="margin-left: 117px; min-height: 40px">
                    <i class="material-icons">note_add</i>
                </a>
            <br>
            <span style="margin-left: 20px" class="text">Accident Insurance</span>
            <span style="margin-left: 25px" class="text">Travel Insurance</span>
            <span style="margin-left: 20px" class="text">Home And Flat Insurance</span>
            <span style="margin-left: 15px" class="text">Household Insurance</span>

        </ul>



            </span>

    </ul>
</div>
</body>
</html>

<script>
    function rowClicked(value) {
        location.href = "/insuranceAgreements/id/" + value;
    }
</script>